@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #eff3f3;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00FFFF
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

@keyframes goDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.animate {
  animation: goDown 1s ease-in-out forwards;
}